<div data-ng-controller="CharactersEditCtrl">
    <h3>Character</h3>
    <ul>
        <li>{{ data.character.name }}</li>
        <li>{{ data.character.gender}} {{ data.character.metatype }}</li>
        <li>Karma: {{ data.character | karma }}</li>
    </ul>
    <ul>
        <li data-ng-click="data.setTab('metatype')">Metatype</li>
        <li data-ng-click="data.setTab('magic')">Magic/Resonance</li>
        <li data-ng-click="data.setTab('qualities')">Qualities</li>
        <li data-ng-click="data.setTab('skills')">Skills</li>
    </ul>
    <div>
        <div data-ng-show="data.tab == 'metatype'">
            <ul>
                <li><label>Name: </label><input data-ng-model="data.character.name"></li>
                <li>
                    <label>Metatype: </label>
                    <select data-ng-model="data.character.metatype" data-ng-options="m for m in data.metatypes"></select>
                </li>
                <li>
                    <label>Gender: </label>
                    <select data-ng-model="data.character.gender">
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                </li>
            </ul>
            <div data-vat-character-priority="data.character.priority"></div>
            <div data-vat-character-attributes="data.character"></div>
        </div>
        <div data-ng-show="data.tab == 'magic'">
            <div data-vat-character-magic-resonance="data.character"></div>
        </div>
        <div data-ng-show="data.tab == 'qualities'">
            <div data-vat-character-qualities="data.character"></div>
        </div>
        <div data-ng-show="data.tab == 'skills'">
            <div data-vat-character-skills="data.character"></div>
        </div>
    </div>
</div>